{% extends "Base.html" %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/college-profile.css' %}">
   
    
  
  <body>
    <div class="container">
      <h1 class="primary">College Profile:</h1>
      <img src="{% static 'pics/college-pic.jpeg' %}" alt="college-profile" class="img-one" />
      <p class="para">
        Established in 1947, the same year that India gained its independence,
        University Post-Graduate College Secunderabad, a constituent college of
        Osmania University is considered to be one of the best co-educational
        institutions of higher learning in the twin cities of Hyderabad and
        Secunderabad. Initially it was known as "Arts & Science College,
        Secunderabad" and offered under graduate courses and catered to the
        needs of the student community of the Secunderabad area . In 1989, the
        college was upgraded and renamed as "Post-Graduate College,
        Secunderabad" and offered post graduate courses in addition to the
        already existing under graduate courses for both the boys and girls.
      </p>
      <p class="para">
        The foremost objective of the college is to nurture young minds,
        stimulate learning and mould their personalities by equipping them with
        up-to-date information, knowledge and quality education. Further, the
        focus is on imbibing social and human values among students to make them
        responsible citizens and sensitive individuals in order to build a civil
        and humane society. Our objective is to meet the challenges of a complex
        world responsibly, actively and imaginatively.
      </p>
      <p class="para">
        The socio-economic and technological changes and developments that have
        occurred in the recent past have made the job market vastly competitive.
        This requires students to be well informed and well equipped to meet the
        demands of the ever-changing scenario of the job market. At UPGCS,
        highly qualified and motivated members of the faculty are committed to
        giving their best to the students. They constantly endeavor to equip the
        students with the latest developments in relevant areas and encourage
        students to develop innovative and creative thinking. Most of the
        teachers have their PhD degrees and some are engaged in post doctoral
        research.
      </p>
      <p class="para">
        The college strives to provide the students with the best infrastructure
        and various facilities and recreational activities in order to make
        their education richer and more meaningful. The college has
        well-equipped science, computer and language laboratories. An exclusive
        building houses the library where students have access to a huge
        collection of books and journals. There is an Internet Centre for the
        benefit of students. In an effort to shape the students' all-round
        personalities, various extra-curricular facilities are made available to
        the students. The college has sprawling grounds with floodlights where
        students can enjoy different sports. Annual sport events and
        competitions are held to boost up their sporting spirit. A huge sports
        complex facilitates the students to play indoor games. NCC and NSS
        cadets organize awareness and sensitization programmes and contribute to
        the society in their own way.
      </p>
      <p class="para">
        Various cultural and literary competitions are conducted to bring out
        latent and diverse talents of students. There are several committees,
        which monitor the day-to-day happenings in the college. The college has
        a Women's Grievance Redressal Committee to look into the problems faced
        by female students and staff. The college is the preferred destination
        for foreign students hailing from countries like Sudan, Yemen, Tanzania,
        Nigeria, Djbouti, Ethopia and other African countries. To make them
        acclimatize to the new environs and ambience, the college organizes
        orientation programme exclusively for the foreign students so that they
        can interact with the faculty and other students. The college also
        provides a special platform for them to display their culture by way of
        presenting their dance, song and art form.
      </p>
      <p class="para">
        The college marches ahead, to realize its vision and mission by
        imparting quality and holistic education and create a healthy learning
        environment.
      </p>
      <h2 class="secondary">VISION AND MISSION</h2>
      <ul>
        <li>
          Prepare students to meet the demands of new realms of global knowledge
        </li>
        <li>
          To impart quality education and create a healthy learning environment
        </li>
        <li>To motivate students to acquire creative and critical skills</li>
        <li>To inculcate the values and virtues of citizenship</li>
        <li>
          To promote high standards of teaching and research, ethics, integrity
          and human values
        </li>
        <li>
          To build and strengthen the region and the nation through pursuit of
          knowledge
        </li>
      </ul>
    </div>
  

{% endblock content %}