{% extends 'Base.html'%}
{% load static %}

{% block content %}

<style>
  .primary,
  h3 {
    color: #3b3f48;
    border-bottom: 2px solid black;
    padding: 20px;
    position: relative;
    /* line-height: 3; */
  }

  .secondary {
    padding: 20px;
    margin-bottom: 20px;
    color: #3b3f48;
  }

  .vision {
    color: #3b3f48;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .university-pic{
    height: auto;
    width: 100%;
    margin-bottom: 40px;
    margin-left: 2.5%;
  }

.container {
background-color: #f8f6f7;
}

</style>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>UPGCS-University Profile</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'css/university_profile.css' %}">
</head>

<body>
  <div class="container">
    <h1 class="primary">University Profile:</h1>
    <h2 class="secondary">About Osmania University</h2>
    <img class="university-pic" src="{% static 'pics/university-pic.jpeg ' %}" alt="" class="img" />
    <p class="para">
      Established in 1918, Osmania University is the seventh oldest in India,
      the third oldest in South India and first to be established in the
      erstwhile Princely State of Hyderabad. Over the years, the University
      has sustained an integrated development of and registered remarkable
      progress in all the facilities of study. It has contributed
      significantly to the academic and economic development of not only the
      region about also of the state and the country. Its alumni have
      distinguished of not only the region but also of the state and the
      country. Its alumni have distinguished themselves nationally and
      internationally in various spheres of life and are spread for and wide
      around the world .
    </p>
    <p class="para">
      With a sprawling campus of nearly 1960 acres and buildings of majestic
      beauty and architectural splendor, Osmania University is, perhaps, the
      largest Institution of higher education in the country. It is the alma
      mater of nearly 300,000 students pursuing their studies in its campus,
      constituent, Affiliated Colleges and District Centers. Its faculty and
      staff number nearly 5000. It is a multi-faculty and multidisciplinary
      university, offering varied courses in Humanities, Arts, Sciences,
      Social Sciences, Law Engineering, Technology, Commerce and Business
      Management, Information Technology and Oriental Languages, The
      University's strategic planning, teaching learning polices and research
      orientation have always been alive to the concerns of the society and
      have addressed the challenges being faced by it.
    </p>
    <p class="para">
      In recognition of its excellent academic achievements, Osmania
      University earned the distinction of being awarded the FIVE STAR status
      by the National Accreditation and Assessment Council (NAAC) of the year
      2001.
    </p>
    <p class="para">
      One of the prime endeavors of the University has been to bring in the
      required changes in course contents, and innovations in the delivery of
      Higher Education. Consequently designing and introducing relevant new
      courses, which is essential for an active engagement with the community
      around, has always been the university's hall marks.
    </p>
    <p class="para">
      You can visit Osmania University at
      <a href=" http://www.osmania.ac.in"> http://www.osmania.ac.in</a>
    </p>
    <h2 class="vision">Vision and Mission of Osmania University</h2>
    <h3>Vision</h3>
    <p class="para">
      The vision of the University is to generate and disseminate knowledge
      through a harmonious blend of ancient and modern wisdom, and to serve
      the society by developing in students heightened intellectual, cultural,
      ethical, and humane sensitivities; to foster a scientific temper, and to
      promote professional and technological expertise. Central to this vision
      is a commitment to regional and national development in consonance with
      our culture, heritage, and environment.
    </p>
    <h3>Mission</h3>
    <ul>
      <li>To achieve excellence in teaching and research</li>
      <li>To generate, disseminate and preserve knowledge</li>
      <li>
        To meet the challenges of a complex, and modern society through
        informed social outreach.
      </li>
      <li>To empower through knowledge and information</li>
      <li>To develop a responsible and productive citizenry</li>
      <li>To develop, enhance, and improve the quality of human resources</li>
      <li>To Cultivate resolute moral and ethical values</li>
      <li>
        To Meet contemporary regional and national needs and anticipate future
        social and economic development.
      </li>
      <li>
        To preserve and promote cultural heritage, humanistic and spiritual
        values.
      </li>
    </ul>
  </div>



  {% endblock content %}