{% extends "Base.html" %}
{% load static %}

{% block content %}

   
    
  
 
    <div class="container">
      <h1 class="primary">Vision:</h1>
     
      <p class="para">
        
        We aim to strive and uphold the values of humanity, nurturing through education, the next generation of nation builders.

      </p>
      <h1 class="primary">Mission:</h1>
      <p class="para">
        <ul>
        <li>To impart quality education and create a healthy learning environment</li> 
       <li> To promote high standards of teaching and research, ethics, integrity and human values</li>
       <li>To motivate students to acquire creative and critical skills</li> 
      <li> To inculcate the values and virtues of citizenship</li> 
      <li> To prepare students to meet the demands of new realms of global knowledge</li> 
      <li>  To build and strengthen the region and the nation through pursuit of knowledge</li>
    </ul>
      </p>

      <h1>Greetings!</h1>

      <p class="para">
        This Institution, which has an impressive track record is conveniently located and has multiple accessibility. Hosting both UG and PG courses it has a rich academic ambience and spirit. Recovering after the pandemic UPGCS as it is formally called has worked towards normalcy. The rich alumni network gives back to their institution fostering a sense of tradition. With an expanse of greenery, the institution nurtures an eco-friendly ambience. 

      </p>
      <p class="para">
        This Institution, which has an impressive track record is conveniently located and has multiple accessibility. Hosting both UG and PG courses it has a rich academic ambience and spirit. Recovering after the pandemic UPGCS as it is formally called has worked towards normalcy. The rich alumni network gives back to their institution fostering a sense of tradition. With an expanse of greenery, the institution nurtures an eco-friendly ambience
      </p>
      <p class="para">
        I extend to all the new students warm welcome and best wishes for a bright future!

      </p>
      
      
      
    </div>
  

{% endblock content %}