/* media quaries */

/* for phones */
@media (max-width: 767px) {
  .row {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .principal_heading {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }

  .matter {
    margin-top: 2%;
    width: 40%;
    display: inline-block;
    line-height: 1;
    font-size: 10px;
  }

  .principal_image {
    height: 185px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 35px;
    float: right;
  }
  .ticker {
    margin-left: 10px;
    padding-left: 15px;
  }
  .ou-head {
    /* padding: 50px; */
    margin-top: 60px;
  }
  .img {
    width: 100px;
    height: 100px;
    margin-left: 0;
  }
}
/* for TABLET */
@media (min-width: 768px) and (max-width: 979px) {
  .principal_heading {
    font-weight: bold;
    text-align: center;
  }
  .row1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .matter {
    margin-top: 2%;
    width: 40%;
    display: inline-block;
    line-height: 1;
    font-size: 10px;
  }

  .principal_image {
    height: 185px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 35px;
    float: right;
  }
  .ou-head {
    /* padding: 50px; */
    margin-top: 60px;
  }
  .row {
    gap: 46px;
  }
  .three {
    font-size: 20px;
  }
  .five {
    font-size: 18px;
  }
  .img {
    width: 100px;
    height: 100px;
    margin-left: 0;
  }
  .clg-name {
    margin-left: 50px;
  }
}
/* for Small DESKTOP */

@media (min-width: 980px) and (max-width: 1023px) {
}

/* for basic Desktop */

@media (min-width: 1024px) and (max-width: 1199px) {
}
