{% extends "Base.html" %}
{% load static %}

{%  block content  %}
    <style>
      .heading {
        color: #81505f;
        border-bottom: 2px solid black;
        padding: 15px;
        margin-bottom: 30px;
      }
      .second {
        border-bottom: 1px solid black;
        padding: 10px;
        color: #523940;
        margin-top: 35px;
        margin-bottom: 35px;
      }
      .note {
        font-weight: bold;
        padding: 10px;
      }
    </style>
  
  <body>
    

<div class="container">
  <h1 class="heading">Courses Offered :</h1>
      <p class="para">
        The College offers the following courses in the faculties of Arts,
        Social Sciences, Informatics and Physical Sciences. At the UG level, the
        college offers three year degree courses leading to the award of
        B.Com.(Regular / Computers), B.Sc.(MPC / MPCs) Since the academic year
        2016-17 Osmania Universiy has introduced Choice Based Credit
        System(CBCS) for all the UG courses. The Degree Courses has the
        following structure:
      </p>
      <ul>
        <li>
          Under Part 1, besides English the student has to study one second
          language. The second languages offered are Telugu, Sanskrit and Hindi.
        </li>
        <li>
          Under Part 2, the student has to study three optional subjects in the
          course chosen. Besides, from 2004-2005 the students have in their
          curriculum Indian Heritage Culture in the First Year, Environmental
          Studies in the second Year and Science & Civilization in the Third
          Year.
        </li>
      </ul>
      <h2 class="second">Number of Seats:</h2>
      <ul>
        <li>BBA(Business Analytics) Self-Finance : 60 Seats</li>
        <li>B.Com ( Regular) : 60 Seats</li>
        <li>B.Com (Computers) Self-Finance : 60 Seats</li>
        <li>B.Sc (Maths, Physics, Chemistry) : 60 Seats</li>
        <li>B.Sc (Maths, Physics, Computer Science) Self-Finance :60 Seats</li>
        <li>B.C.A (Bachelor of Computer Applications) Self-Finance</li>
        <li>B.A (HEP) : 60</li>
        <li>B.A (EPP) : 60</li>
      </ul>
      <h6 class="note">
        Note : The University has the right to drop/change any of the above
        combinations or increase/decrease the ceiling on seats subject to
        exigencies.
      </h6>
      <h2 class="second">The following Masters Degree Programmes:</h2>
      <ul>
        <li>
          M.A ( In English, Hindi, Economics, Public Administration, History and
          Political Science)
        </li>
        <li>M.Com (Master of Commerce) Self-Finance</li>
        <li>M.S.W (Master of Social Welfare) Self-Finance</li>
        <li>M.C.A (Master of Computer Applications) Self-Finance : 60 Seats</li>
      </ul>
    </div>
</div>
      


{%  endblock content  %}