{% extends "Base.html" %}
{% load static %}

{% block content %}
    <style>
      .adms {
        margin-top: 40px;
        padding: 30px;
      }
      .heading--1 {
        border-bottom: 1px solid black;
        padding: 20px;
      }
      .secondly {
        margin-bottom: 45px;
      }
      .secondly--2 {
        margin-top: 60px;
        padding: 20px;
        border-bottom: 1px solid black;
        margin-bottom: 20px;
      }
    </style>


    <div class="container">
      <h1 class="heading--1">Eligibility for Admission :</h1>
      <div class="adms">
        <h2 class="secondly">Eligibility for U.G Admission:</h2>
        <p class="para">
          The college is co-educational institute and admission is open to both
          boys and girls.
        </p>
        <ul>
          <li>
            A student seeking admission to B.Com(computers) or B.Sc(MPC) course
            should have passed the intermediate examination conducted by the
            Board of Intermediate examination TS or any other examination
            recognized as equivalent thereto in the subjects concerned. However
            all Intermediate passed students are eligible to apply for
            B.Com(computers) Course Irrespective of the subjects is studied at
            the intermediate level.
          </li>
          <li>
            A student seeking admission to B.Sc (MPC) I-year course should have
            passed and obtained at least 40% marks in the optional subjects at
            the qualifying examination. However for SC/ST category pass marks is
            the eligibility criterion.
          </li>
          <li>
            Compartmental and instant examination candidates: candidates passing
            the qualifying examination complementary or through instant
            examination are treated alike and are also eligible to apply, but
            their cases will be considered provided;
          </li>
          <li>
            Seats are available after accommodating one attempt candidates.
          </li>
          <li>
            They are able to submit the memorandum of marks and other necessary
            documents before the prescribed date.
          </li>
        </ul>
        <h2 class="secondly--2">Eligibility for U.G Admission:</h2>
        <ul>
          <li>
            A student seeking admission to P.G courses have to appear Osmania
            University Common Entrance Test (OUCET) and admissions will be given
            through the counselling by the Osmnia University as per merit in
            OUCET.
          </li>
        </ul>
      </div>
    </div>
 
  {% endblock content %}
