{% extends "Base.html" %}
{% load static %}
{% block content %}
    <style>
      .heading-sec {
        margin-bottom: 50px;
        border-bottom: 1px solid black;
        padding: 13px;
      }
    </style>
 
    <div class="container">
      <h1 class="heading-sec">Fee Structure:</h1>
      <table class="table table-bordered text-uppercase table-hover">
        <tr>
          <td>S.NO</td>
          <td>
            <p>COURSE PARTICULARS</p>
          </td>
          <td>
            <p>TUITION FEE</p>
          </td>
          <td>NUF</td>
          <td>SPL FEE</td>
          <td>TOTAL</td>
        </tr>
        <tr class="color_blue">
          <td>1</td>
          <td>MA, (Regular)</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>English, Hindi, ECO, History, Pub Adm, Pol Sci</td>
          <td>13010</td>
          <td></td>
          <td>990</td>
          <td>14000</td>
        </tr>
        <tr class="color_blue">
          <td>2</td>
          <td>MA. Payment Seat</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>English, Hindi,</td>
          <td>20010</td>
          <td></td>
          <td>990</td>
          <td>21000</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>EC0, History, Pub Adm, Pol Sci</td>
          <td>20010</td>
          <td></td>
          <td>990</td>
          <td>21000</td>
        </tr>

        <tr class="color_blue">
          <td>3</td>
          <td>P.G (Self finance courses)</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td>&nbsp;</td>
          <td>M.COM (SF)</td>
          <td>29010</td>
          <td></td>
          <td>990</td>
          <td>30000</td>
        </tr>

        <tr>
          <td>&nbsp;</td>
          <td>MSW</td>
          <td>24010</td>
          <td></td>
          <td>990</td>
          <td>25000</td>
        </tr>

        <tr>
          <td>&nbsp;</td>
          <td>MCA (SF)</td>
          <td>27000</td>
          <td></td>
          <td>&nbsp;</td>
          <td>27000</td>
        </tr>

        <tr class="color_blue">
          <td>4</td>
          <td>U.G (Regulars courses)</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td>&nbsp;</td>
          <td>B.COM (REG)</td>
          <td>1500</td>
          <td></td>
          <td>1000</td>
          <td>2500</td>
        </tr>

        <tr>
          <td>&nbsp;</td>
          <td>B.A (EPP, HEP)</td>
          <td>4500</td>
          <td></td>
          <td>1000</td>
          <td>5500</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>B.SC (MPC)</td>
          <td>1300</td>
          <td></td>
          <td>1700</td>
          <td>3000</td>
        </tr>
        <tr class="color_blue">
          <td>5</td>
          <td>U.G (Self finance courses)</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td>&nbsp;</td>
          <td>B.COM (COMP)</td>
          <td>9000</td>
          <td></td>
          <td>520</td>
          <td>10000</td>
        </tr>

        <tr>
          <td>&nbsp;</td>
          <td>BSC (MPCS)</td>
          <td>11000</td>
          <td></td>
          <td>1000</td>
          <td>12000</td>
        </tr>

        <tr>
          <td>&nbsp;</td>
          <td>BCA</td>
          <td>13500</td>
          <td>&nbsp;</td>
          <td>2300</td>
          <td>15800</td>
        </tr>
      </table>
    </div>
{% endblock content %}
