{% extends "Base.html" %}
{% load static %}
{% block content %}
    <style>
      .schloar {
        text-decoration: none;
        color: white;
      }
      .innnnn {
        padding: 20px;
      }
      .heading {
        border-bottom: 1px solid black;
        padding: 12px;
      }
      .but {
        padding: 10px;
        margin-bottom: 25px;
      }
      .second {
        margin-bottom: 26px;
        margin-top: 16px;
      }
      .t22t {
        margin-top: 12px;
        margin-bottom: 10px;
        border-bottom: 1px solid black;
        padding: 9px;
      }
      .para {
        padding: 8px;
      }
    </style>
  
    <div class="container">
      <h1 class="heading">Scholarships</h1>
      <div class="innnnn">
        <button type="button" class="btn btn-secondary btn-lg but">
          <a href="#" class="schloar">Click here for online schloarships</a>
        </button>
        <h2 class="second">How to apply for scholarships :</h2>
        <p class="para--2">
          Students seeking scholarships towards the hostel charges from the
          social welfare Department / District Tribal Welfare Officer are
          requested to obtain the scholarship forms at the college Office and
          submit them duly completed along with the challan of fee payment.
        </p>
        <div class="para--2">
          At the same Office, similarly students seeking EPP scholarships are
          requested to obtain the prescribed form from the Osmania University
          Press and submit the same duly filled in at the College Office.
        </div>
        <h2 class="second">Documents to be Enclosed :</h2>
        <p class="pp">
          Students belonging to LBC,SC,ST and EPP categories should submit the
          following certificates in original with 2 Xerox copies each.
        </p>
        <h2 class="t2">Students belonging to SC/ST:</h2>
        <ul>
          <li>
            Caste certificate issued by the Mandal Revenue Officer concerned.
          </li>
          <li>Memorandum of marks of the qualifying examination.</li>
          <li>SSC and copy of latest TC.</li>
          <li>Gap certificate from the local Gazetted Officer.</li>
        </ul>
        <h2 class="second">Students belonging to LBC/EPP*.</h2>
        <ul>
          <li>
            Caster certificate issued by the Mandal Revenue Officer concerned.
          </li>
          <li>
            Latest income certificate in original issued by the Mandal Revenue
            officer.
          </li>
          <li>
            Gap certificate issue by any Gazzetted Officer of the Government of
            AP stating that he/she has not studied in any educational
          </li>
          <li>institutions and has not received any scholarship.</li>
          <li>SSC memo and copy of latest TC.</li>
        </ul>
        <h2 class="second">
          *EPP students are not required to submit Caste Certificate. Note (for
          PG students):
        </h2>
        <p class="para">
          Hostel admission will not be given to the students belonging to
          LBC/ST/SC/EPP unless they submit the scholarship form along with the
          necessary certificates.
        </p>
        <ul>
          <li>
            The EPP scholarship will be sanctioned according to the awards given
            by the Government to the University. Hence there is no guarantee for
            the sanctioning of the scholarships to the EPP boarders.
          </li>
        </ul>
        <h2 class="second">Income limits</h2>
        <p class="para">
          The parents annual income loimit for different categories are as
          follows :
        </p>
        <table class="table table-bordered w-auto">
          <tbody>
            <tr>
              <td><strong>EPP Scholarship</strong></td>
              <td>----------</td>
              <td>₹ 12,000/-</td>
              <td></td>
            </tr>
            <tr>
              <td><strong>SC/ST Scholarship</strong></td>
              <td>I) Professional Courses</td>
              <td>₹ 50,920</td>

              <td>II) Non-Professional Courses ₹ 38,220/-</td>
            </tr>
            <tr>
              <td><strong>LBC Scholarship</strong></td>
              <td>I) Professional Courses</td>
              <td>₹ 44,50</td>
              <td>II) Non-Professional Courses ₹ 33,500/-</td>
            </tr>
          </tbody>
        </table>
        <p class="para">
          Students whose parents income is higher than the ceiling mentioned
          above will be treated as paying boarders.
        </p>
        <h2 class="t22t">Another Condition:</h2>
        <p class="para">
          The student must submit one passport size photo (self-attested) at the
          office for affixing in the boarders ledger.
        </p>
      </div>
    </div>
{% endblock content %}